.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/com/cargo/demoapp/Credentials.java
.idea/copyright/
DemoProtocolDiscovery.iml
app/libs/
sbpd/libs/
sbpd/schemas/com.cargo.sbpd.model.AppDatabase/10.json
sbpd/schemas/com.cargo.sbpd.model.AppDatabase/11.json
sbpd/schemas/com.cargo.sbpd.model.AppDatabase/12.json
synchroedtftpj/src/main/res/drawable/
synchroftpapache/libs/
synchroftpapache/src/main/res/drawable/
